
# <><><><><><><><><><><><><><><><><><><><><><><><><><>
#     OPTIONS FOR THE PREPARE_WINDOWS SCRIPT
# <><><><><><><><><><><><><><><><><><><><><><><><><><>

# <><><><><><><><><><><><><><><><><><><><><><><><><><>
#                   INFINITY
# <><><><><><><><><><><><><><><><><><><><><><><><><><>

# version of gromacs to activate using the Infinity modules
gromacs_version         gromacs:2021.4-plumed

# <><><><><><><><><><><><><><><><><><><><><><><><><><>
#                 PULLING FILES
# <><><><><><><><><><><><><><><><><><><><><><><><><><>
# the script assumes that all files from the different pulling simulations are named correspondingly and are just located in different directories

# name of the file containing values of the collective variable captured during the pulling simulation
pull_x                  pulling_pullx.xvg

# name of the .mdp file used for pulling simulations
pull_mdp                pulling.mdp

# name of the .tpr file used for pulling simulations
pull_tpr                pulling.tpr

# name of the .xtc file from the pulling simulations
pull_xtc                pulling.xtc

# name of the topology file of the system
system_top              system.top

# name of the index file of the system
system_ndx              index.ndx

# names of additional files that should be copied from  the pulling directories into individual umbrella sampling windows
pull_additional         reference.gro

# <><><><><><><><><><><><><><><><><><><><><><><><><><>
#               UMBRELLA INPUT FILES
# <><><><><><><><><><><><><><><><><><><><><><><><><><>

# path to the "window list" with definitions of individual umbrella sampling windows
# NOTE that "window list" must follow the correct format (REFERENCE_VALUE FORCE_CONSTANT WINDOW_ORIGIN)
window_list             example_windows.txt

# path to the .mdp file used for umbrella sampling windows
# note that in the mdp file:
# a) "[FORCE_CONSTANT]" and "[K_CONST]" (for backwards compatibility) 
#    will be replaced with the FORCE_CONSTANT specified for the target window
# b) "[REFERENCE_VALUE]" and "[INIT_DIST]" (for backwards compatibility)
#    will be replaced with the REFERENCE_VALUE specified for the target window 
# c) "[PULL_GROUP_1/2]" will be replaced with the PULL_GROUP specified for the target set of umbrella windows
umbrella_mdp            example_umbrella.mdp

# name of the run script for umbrella sampling
umbrella_run            precycle_md_dim

# paths to additional files that should be copied into the individual umbrella sampling windows
umbrella_additional


# <><><><><><><><><><><><><><><><><><><><><><><><><><>
#               ADDITIONAL FILES
# <><><><><><><><><><><><><><><><><><><><><><><><><><>

# paths to additional files that should be copied into the directory from which this script is being run
global_additional


# <><><><><><><><><><><><><><><><><><><><><><><><><><>
#                 MDP VALIDATION
# <><><><><><><><><><><><><><><><><><><><><><><><><><>

# validate the umbrella mdp file (will print warning if validation fails)
validate_mdp            yes    # set to no, if you do not want the mdp file to be validated

# expected value of the mdp option 'pull'
validate_pull           yes

# expected maximal value of the mdp option 'pull-nstfout'
validate_nstfout        1000

# expected maximal value of the mdp option 'pull-nstxout'
validate_nstxout        1000

# index of the restraint used for umbrella sampling
validate_umbrella_id    1


# <><><><><><><><><><><><><><><><><><><><><><><><><><>
#                 INDEX VALIDATION
# <><><><><><><><><><><><><><><><><><><><><><><><><><>

# validate the index file
validate_ndx            yes   # set to no, if you do not want the index file to be validated


# <><><><><><><><><><><><><><><><><><><><><><><><><><>
#                ADDITIONAL OPTIONS
# <><><><><><><><><><><><><><><><><><><><><><><><><><>

# name of the logfile
logfile                 prepare_windows.log

# precision of the trajectory splitting
skip_multiplier         1

# column in the PULL_X file corresponding to time (counting from zero)
time_col                0

# column in the PULL_X file corresponding to the CV value
cv_col                  1

# when copying itp files into umbrella sampling windows, 
# (do not) copy entire directories, if provided
copy_itp_directories    yes
